all_props_with_entity_Tawhid_propgraph.json
fixing_data.py
fixed_data.json
fixed_data_2.json
raw_props_graph_Tawhid_propgraph.json
raw_Al-Elm_propGraph_1.json
fixed_data_Kitab_Al_Elm.json
fixing_structure.py
# script.js
Kitab_Al_Elm_modelling.json
raw_PropGraphs_Al_Elm_turtle.json

